
Data/Tariff input- Postcodes to DNSPs_ZH.xlsx
*.iml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
 Models/
Models/CDD_Coef.pickle
Models/HDD_Coef.pickle
Models/TempCor.pickle
test.py
.ipynb_checkpoints/SunSPoT Steps-checkpoint.ipynb
__pycache__/saving_estimator.cpython-36.pyc
.ipynb_checkpoints/SunSPoT Steps-checkpoint.ipynb
